<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>学生信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]>
    <script src="__PUBLIC__/js/flot/excanvas.min.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/responsive.css">

    <link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/uniform/css/uniform.default.css"/>
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- HEADER -->
<header class="navbar clearfix" id="header">
    <div class="container">
        <div class="navbar-brand">
            <!-- COMPANY LOGO -->
            <a href="index.html">
                <img src="__PUBLIC__/img/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive" height="30"
                     width="120">
            </a>
            <!-- /COMPANY LOGO -->
            <!-- SIDEBAR COLLAPSE -->
            <div id="sidebar-collapse" class="sidebar-collapse btn">
                <i class="fa fa-bars"
                   data-icon1="fa fa-bars"
                   data-icon2="fa fa-bars"></i>
            </div>
            <!-- /SIDEBAR COLLAPSE -->
        </div>
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user" id="header-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username">{$Think.session.name}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="__ROOT__/index.php/Home/Profile/changePwd.html"><i class="fa fa-cog"></i> 修改密码</a></li>
                    <li><a href="__ROOT__/index.php/Home/Index/logout"><i class="fa fa-power-off"></i> 退出系统</a></li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>

</header>
<!--/HEADER -->
<!-- PAGE -->
<section id="page">
    <!-- SIDEBAR -->
    <?php include session(sidebar_path); ?>
    <!-- /SIDEBAR -->
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <!-- PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <div class="clearfix">
                                    <h3 class="content-title pull-left">学生信息</h3>
                                </div>
                                <div class="description">查看学生信息，论文、获奖等</div>
                            </div>
                        </div>
                    </div>
                    <!-- /PAGE HEADER -->
                    <!-- USER PROFILE -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box border">
                                <div class="box-title">
                                    <h4><i class="fa fa-user"></i><span
                                            class="hidden-inline-mobile">详细信息</span></h4>
                                </div>
                                <div class="box-body">
                                    <div class="tabbable header-tabs user-profile">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#pro_overview" data-toggle="tab"><i
                                                    class="fa fa-dot-circle-o"></i> <span class="hidden-inline-mobile">Overview</span></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <!-- OVERVIEW -->
                                            <div class="tab-pane fade in active" id="pro_overview">
                                                <div class="row">
                                                    <!-- PROFILE PIC -->
                                                    <div class="col-md-3">
                                                        <div class="list-group">
                                                            <li class="list-group-item zero-padding">
                                                                <img alt="" class="img-responsive"
                                                                     src="__PUBLIC__/img/profile/avatar.jpg">
                                                            </li>
                                                            <div class="list-group-item profile-details">
                                                                <h2>{$StudentInfo.user_name}</h2>
                                                            </div>
                                                            <a href="#" class="list-group-item"><i
                                                                    class="fa fa-user fa-fw"></i> 学号 :
                                                                {$StudentInfo.user_number}</a>
                                                            <a href="#" class="list-group-item">
                                                                <!--<span class="badge badge-red">9</span>-->
                                                                <i class="fa fa-calendar fa-fw"></i> 学位 :
                                                                {$StudentInfo.degree}
                                                            </a>
                                                            <a href="#" class="list-group-item">
                                                                <!--<span class="badge badge-red">9</span>-->
                                                                <i class="fa fa-calendar fa-fw"></i> 专业 :
                                                                {$StudentInfo.major}
                                                            </a>
                                                            <a href="#" class="list-group-item"><i
                                                                    class="fa fa-comment-o fa-fw"></i> 邮箱 :
                                                                {$StudentInfo.email}
                                                            </a>
                                                            <a href="__URL__/studentInfo/id/{$StudentInfo.user_number}"
                                                               class="list-group-item">
                                                                <span class="badge badge-red">{$prizeCount}</span>
                                                                <i class="fa fa-thumbs-up"></i> 获奖经历
                                                            </a>
                                                            <a href="__MODULE__/Achievement/my_achievement/user_id/{$StudentInfo.user_number}"
                                                               class="list-group-item">
                                                                <span class="badge badge-red">{$AchiAll}</span>
                                                                <i class="fa fa-file-text"></i> 科研成果
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- /PROFILE PIC -->
                                                    <!-- PROFILE DETAILS -->
                                                    <div class="col-md-9">
                                                        <div class="divide-40"></div>
                                                        <!-- ROW 2 -->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="box border blue">
                                                                    <div class="box-title">
                                                                        <h4><i class="fa fa-columns"></i> <span
                                                                                class="hidden-inline-mobile">获奖经历</span>
                                                                        </h4>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <div class="tabbable">
                                                                            <ul class="nav nav-tabs">
                                                                                <li class="active"><a href="#sales"
                                                                                                      data-toggle="tab"><i
                                                                                        class="fa fa-signal"></i> <span
                                                                                        class="hidden-inline-mobile">奖项</span></a>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="tab-content">
                                                                                <div class="tab-pane active" id="sales">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                        <tr>
                                                                                            <th>
                                                                                                <i class="fa fa-calendar-o"></i>
                                                                                                获奖日期
                                                                                            </th>
                                                                                            <th class="hidden-xs">
                                                                                                <i class="fa  fa-asterisk"></i>
                                                                                                奖项名称
                                                                                            </th>
                                                                                            <th>
                                                                                                <i class="fa  fa-bookmark"></i>
                                                                                                授奖单位
                                                                                            </th>
                                                                                            <th>
                                                                                                <i class="fa fa-download"></i>
                                                                                                查看证书
                                                                                            </th>
                                                                                        </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        <volist name="prizes" id="info">
                                                                                            <tr>
                                                                                                <td>{$info.date}</td>
                                                                                                <td>
                                                                                                    {$info.prize_title}
                                                                                                </td>
                                                                                                <td>
                                                                                                    {$info.prize_institute}
                                                                                                </td>
                                                                                                <td>
                                                                                                    <if condition="$record.file_id eq ''">
                                                                                                        <button class="btn btn-xs btn-success"
                                                                                                                onclick="window.location.href='__URL__/downloadFile/id/{$info.file_id}'">
                                                                                                            下载
                                                                                                        </button>
                                                                                                        <else/>
                                                                                                        -
                                                                                                    </if>
                                                                                                </td>
                                                                                            </tr>

                                                                                        </volist>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /ROW 2 -->
                                                    </div>
                                                    <!-- /PROFILE DETAILS -->
                                                </div>
                                            </div>
                                            <!-- /OVERVIEW -->
                                        </div>
                                    </div>
                                    <!-- /USER PROFILE -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-tools">
							<span class="go-top">
								<i class="fa fa-chevron-up"></i> Top
							</span>
                    </div>
                </div><!-- /CONTENT-->
            </div>
        </div>
    </div>
</section>
<!--/PAGE -->
<!-- JAVASCRIPTS -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- JQUERY -->
<script src="__PUBLIC__/js/jquery/jquery-2.0.3.min.js"></script>
<!-- JQUERY UI-->
<script src="__PUBLIC__/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<!-- BOOTSTRAP -->
<script src="__PUBLIC__/bootstrap-dist/js/bootstrap.min.js"></script>


<!-- DATE RANGE PICKER -->
<script src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>

<script src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<!-- SLIMSCROLL -->
<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
<!-- SLIMSCROLL -->
<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
<!-- BLOCK UI -->
<script type="text/javascript" src="__PUBLIC__/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
<!-- EASY PIE CHART -->
<script src="__PUBLIC__/js/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easypiechart/jquery.easypiechart.min.js"></script>
<!-- SPARKLINES -->
<script type="text/javascript" src="__PUBLIC__/js/sparklines/jquery.sparkline.min.js"></script>
<!-- UNIFORM -->
<script type="text/javascript" src="__PUBLIC__/js/uniform/jquery.uniform.min.js"></script>
<!-- COOKIE -->
<script type="text/javascript" src="__PUBLIC__/js/jQuery-Cookie/jquery.cookie.min.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="__PUBLIC__/js/script.js"></script>
<script>
    jQuery(document).ready(function () {
        App.setPage("user_profile");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
<!-- /JAVASCRIPTS -->
</body>
</html>