<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Cloud Admin | User Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/css/themes/default.css" id="skin-switcher" >
	<link rel="stylesheet" type="text/css"  href="__PUBLIC__/css/responsive.css" >

	<link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- UNIFORM -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/uniform/css/uniform.default.min.css" />
	<!-- FONTS -->
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix" id="header">
		<div class="container">
			<div class="navbar-brand">
				<!-- COMPANY LOGO -->
				<a href="index.html">
					<img src="__PUBLIC__/img/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">
				</a>
				<!-- /COMPANY LOGO -->
				<!-- TEAM STATUS FOR MOBILE -->
				<div class="visible-xs">
					<a href="#" class="team-status-toggle switcher btn dropdown-toggle">
						<i class="fa fa-users"></i>
					</a>
				</div>
				<!-- /TEAM STATUS FOR MOBILE -->
				<!-- SIDEBAR COLLAPSE -->
				<div id="sidebar-collapse" class="sidebar-collapse btn">
					<i class="fa fa-bars" 
					data-icon1="fa fa-bars" 
					data-icon2="fa fa-bars" ></i>
				</div>
				<!-- /SIDEBAR COLLAPSE -->
			</div>
			<!-- NAVBAR LEFT -->
			<include file="./Public/tpl/header.html" />
			<!-- /NAVBAR LEFT -->
			<!-- BEGIN TOP NAVIGATION MENU -->		
			<ul class="nav navbar-nav pull-right">				
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown user" id="header-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img alt="" src="__ROOT__/{$Think.session.pic_path}" />
						<span class="username">{$Think.session.fullname}</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-cog"></i> 修改密码</a></li>
						<li><a href="__ROOT__/index.php/Home/Index/logout"><i class="fa fa-power-off"></i>  退出系统</a></li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>			
			<!-- END TOP NAVIGATION MENU -->
		</div>

		<!-- TEAM STATUS -->
		<div class="container team-status" id="team-status">
			<div id="scrollbar">
				<div class="handle">
				</div>
			</div>
			<div id="teamslider">
				<ul class="team-list">
					<li class="current">
						<a href="javascript:void(0);">
							<span class="image">
								<img src="__PUBLIC__/img/avatars/avatar3.jpg" alt="" />
							</span>
							<span class="title">
								You
							</span>
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width: 35%">
									<span class="sr-only">35% Complete (success)</span>
								</div>
								<div class="progress-bar progress-bar-warning" style="width: 20%">
									<span class="sr-only">20% Complete (warning)</span>
								</div>
								<div class="progress-bar progress-bar-danger" style="width: 10%">
									<span class="sr-only">10% Complete (danger)</span>
								</div>
							</div>
							<span class="status">
								<div class="field">
									<span class="badge badge-green">6</span> completed
									<span class="pull-right fa fa-check"></span>
								</div>
								<div class="field">
									<span class="badge badge-orange">3</span> in-progress
									<span class="pull-right fa fa-adjust"></span>
								</div>
								<div class="field">
									<span class="badge badge-red">1</span> pending
									<span class="pull-right fa fa-list-ul"></span>
								</div>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /TEAM STATUS -->
	</header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<include file="./Public/tpl/navbar.html" />
		<!-- /SIDEBAR -->
		<div id="main-content">
			<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Box Settings</h4>
						</div>
						<div class="modal-body">
							Here goes box setting content.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
			<div class="container">
				<div class="row">
					<div id="content" class="col-lg-12">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header">
									<!-- STYLER -->

									<!-- /STYLER -->
									<!-- BREADCRUMBS -->
									<ul class="breadcrumb">

									</ul>
									<!-- /BREADCRUMBS -->
									<div class="clearfix">
										<h3 class="content-title pull-left">当前科研成果所属项目信息</h3>
									</div>
									<div class="description">查看，修改</div>
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- USER PROFILE -->
						<div class="row">
							<div class="col-md-12">
								<!-- BOX -->
								<div class="box border">
									<div class="box-title">
										<h4><i class="fa fa-user"></i><span class="hidden-inline-mobile">当前科研成果所属项目信息</span></h4>
									</div>
									<div class="box-body">
										<div class="tabbable header-tabs">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#box_tab1" data-toggle="tab"><i class="fa fa-calendar-o"></i> <span class="hidden-inline-mobile">项目信息</span></a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade in active" id="box_tab1">
													<div class="row">
														<div class="col-md-12">
															<div class="box-body">
																<div class="box border blue">
																	<div class="box-title">
																		<h4><i class="fa fa-table"></i>已添加的科研成果所属项目信息</h4>
																	</div>
																	<div class="box-body">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th>项目类别</th>
																					<th>项目号</th>
																					<th>项目名称</th>
																					<th>备注</th>
																					<th>操作</th>
																				</tr>
																			</thead>
																			<tbody>
																				<volist name="ProjectInfo" id="vo">
																					<tr>
																						<td>{$vo.type_name}</td>
																						<td>{$vo.project_num}</td>
																						<td>{$vo.project_name}</td>
																						<td>{$vo.content}</td>
																						<td><button type="button" class="btn btn-xs btn-success" onclick="window.location.href='__URL__/project_edit/project_id/{$vo.id}/page_type/{$page_type}'">修改</button><a href="__URL__/project_delete/project_id/{$vo.id}" onclick="return confirm('确定要删除这个类别吗？')"><button type="button" class="btn btn-xs btn-danger">删除</button></a></td>
																					</tr>
																				</volist>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="alert alert-info"><strong>如果下拉列表中无对应类别信息，请进入左侧导航栏“科研项目->项目类别管理”界面，添加类别信息后重新选择</strong></div>
																
																<form class="form-horizontal" action="__URL__/project_add_db/achi_id/{$achi_id}/type/2" method="post">
																	<input type="text" name="num" id="num" value="0" hidden="true">
																	<div class="row">
																		<div class="col-md-12">
																			<div class="box-body">
																				<div id="AuthorInfo" >
																					
																				</div>
																			</div>
																		</div>
																	</div>

																	<div class="form-actions clearfix">
																		<button type="button" id="AddAuthor" class="btn btn-primary">添加所属项目信息</button>
																		<button type="button" id="DeleteAuthor" class="btn btn-primary">删除所属项目信息</button>
																		<button type="button" class="btn btn-primary" onclick="window.location.href='__URL__/'+'{$page_type}'+'/achi_id/{$achi_id}'">返回科研成果详情页</button>
																		<input type="submit" value="添加" class="btn btn-primary pull-right">
																	</div>
																</form>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="footer-tools">
							<span class="go-top">
								<i class="fa fa-chevron-up"></i> Top
							</span>
						</div>
					</div><!-- /CONTENT-->
				</div>
			</div>
		</div>

		<div id="info" hidden="true">
			<div class="form-group" id="form_one_">
				<label class="col-md-2 control-label">所属项目类别</label> 
				<div class="col-md-3"><select class="form-control" name="type_name_">
					<volist name="TypeInfo" id="vo">
						<option>{$vo.type_name}</option>
					</volist>

				</select></div>
				<label class="col-md-2 control-label">所属项目号</label> 
				<div class="col-md-4"><input type="text" name="project_num_" class="form-control" value=""></div>
			</div>
			<div class="form-group" id="form_three_">
				<label class="col-md-2 control-label">项目名称</label> 
				<div class="col-md-9"><input type="text" name="project_name_" class="form-control" value=""></div>
			</div>
			<div class="form-group" id="form_two_">
				<label class="col-md-2 control-label">备注</label> 
				<div class="col-md-9"><textarea name="content_" class="form-control"></textarea></div>
			</div>
		</div>

	</section>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<script src="__PUBLIC__/js/jquery/jquery-2.0.3.min.js"></script>
	<!-- JQUERY UI-->
	<script src="__PUBLIC__/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	<!-- BOOTSTRAP -->
	<script src="__PUBLIC__/bootstrap-dist/js/bootstrap.min.js"></script>


	<!-- DATE RANGE PICKER -->
	<script src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>

	<script src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
	<!-- SLIMSCROLL -->
	<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
	<!-- SLIMSCROLL -->
	<script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script><script type="text/javascript" src="__PUBLIC__/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
	<!-- BLOCK UI -->
	<script type="text/javascript" src="__PUBLIC__/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
	<!-- EASY PIE CHART -->
	<script src="__PUBLIC__/js/jquery-easing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/easypiechart/jquery.easypiechart.min.js"></script>
	<!-- SPARKLINES -->
	<script type="text/javascript" src="__PUBLIC__/js/sparklines/jquery.sparkline.min.js"></script>
	<!-- UNIFORM -->
	<script type="text/javascript" src="__PUBLIC__/js/uniform/jquery.uniform.min.js"></script>
	<!-- COOKIE -->
	<script type="text/javascript" src="__PUBLIC__/js/jQuery-Cookie/jquery.cookie.min.js"></script>
	<!-- CUSTOM SCRIPT -->
	<script src="__PUBLIC__/js/script.js"></script>
	<script>
		var count=0;
		jQuery(document).ready(function() {		
		App.setPage("user_profile");  //Set current page
		App.init(); //Initialise plugins and elements
		$("#AddAuthor").click(function(){
			var i=$("#info").html().replace('true','false');
			i=i.replace("type_name_","type_name_"+count);
			i=i.replace("project_num_","project_num_"+count);
			i=i.replace("project_name_","project_name_"+count);
			i=i.replace("content_","content_"+count);
			i=i.replace("form_one_","form_one_"+count);
			i=i.replace("form_two_","form_two_"+count);
			i=i.replace("form_three_","form_three_"+count);
			count++;
			$("#AuthorInfo").append(i);
			$("#num").val(count);
		});
		$("#DeleteAuthor").click(function(){
			count--;
			if(count<0)
				count=0;
			$("#form_one_"+count).remove();
			$("#form_two_"+count).remove();
			$("#form_three_"+count).remove();
			$("#num").val(count);
		});
	});
</script>
<!-- /JAVASCRIPTS -->
</body>
</html>